<div style="text-align:center">
  <h1>Welcome to {{title}}!!</h1>
</div>
<!-- display category, question, and value -->
<div *ngIf="questionInfo">
  <!-- could remove ? when using ngIf-->
  Category: {{questionInfo?.category?.title | uppercase}}<br>
  the question is: {{questionInfo?.question}}<br>
  the answer is: {{questionInfo?.answer}}<br>
  the value is: {{questionInfo?.value}}<br>
</div>
<br><br>
<div class="answer">
<input [(ngModel)]="userAnswer" type="text">
<br>
<button (click)="checkAnswer()">Submit Answer</button>
</div>

<div class="scoreTemp">
  Your Score: {{userScore}}
  <!-- Your Answer: {{userAnswer}} -->
</div>
<!-- <input type="text" [(ngModel)]="userInput"><br> -->
<!-- <app-answer #answerAttributes [newQuestion]="getDataFromService" [questionInfo]="questionInfo"></app-answer> -->





