
<div class="jeopardy">
<div *ngIf="questionInfo">
  <div class="title">
  <b class="category"> {{questionInfo.category.title}} </b>
  <br>
</div>
<div class="info">
  <div class="point">
        <b class="heading">Points</b>
        <br>
        <b class="value">{{questionInfo.value}}</b> 
      </div>
  <div class="question">
      <b class="heading">Question</b>
      <br>
    <b class="qtext">{{questionInfo.question}}</b> 
  </div>

</div>

  <app-answer (finishedCheckingAnswer)="sampleMethod()" [questionInfo]="questionInfo"></app-answer>
</div>


<!-- <app-answer (completedValidation2)="sampleMethod($event)" [questionInfo]="questionInfo"></app-answer> -->


